microservices_architecture/server/node_modules

microservices_architecture/service-a/node_modules

microservices_architecture/service-b/node_modules

microservices_architecture/proxy-server/node_modules

monolithic_architecture/node_modules

monolithic_architecture/python_locust_testing/locust